.env
vendor/
.DS_Store
*.log
.vscode/
.idea/
/node_modules/.package-lock.json
/.vite/deps/_metadata.json
/node_modules/.vite/deps/_metadata.json
/node_modules/.vite/deps/chunk-IYDKXRZQ.js
/node_modules/.vite/deps/chunk-IYDKXRZQ.js.map
/node_modules/.vite/deps/chunk-S3Z6QACX.js
/node_modules/.vite/deps/chunk-S3Z6QACX.js.map
/node_modules/.vite/deps/lucide-react.js
/node_modules/.vite/deps/lucide-react.js.map
/.vite/deps/package.json
/node_modules/.vite/deps/package.json
/package-lock.json
/node_modules/.vite/deps/react.js
/node_modules/.vite/deps/react.js.map
/node_modules/.vite/deps/react-dom.js
/node_modules/.vite/deps/react-dom.js.map
/node_modules/.vite/deps/react-dom_client.js
/node_modules/.vite/deps/react-dom_client.js.map
/node_modules/.vite/deps/react_jsx-dev-runtime.js
/node_modules/.vite/deps/react_jsx-dev-runtime.js.map
/node_modules/.vite/deps/react_jsx-runtime.js
/node_modules/.vite/deps/react_jsx-runtime.js.map
